* {
	padding 			: 0px;
	margin  			: 0px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

body {
	background-color 	: black;
}

canvas {
	margin-left 		: auto;
	margin-right 		: auto;
}

section.title {
	margin-top 			: 20px;

	min-width 			: 500px;


	width 				: 490px;
	height 				: auto;

	margin-left 		: auto;
	margin-right 		: auto;

}

span.title {
	display 			: block;

	min-width 			: 485px;

	text-align 			: center;

	margin-left 		: auto;
	margin-right 		: auto;

	color 				: white;
	font-family 		: 'Sacramento', cursive;
	font-size 			: 100;
}

span.noSupportBanner {

	position 			: absolute;
	display 			: none;

	background-color 	: red;
	color 				: white;

	text-align 			: center;

	top 				: 320px;

	width 				: 500px;

	left 				: 50%;
	margin-left 		: -250px;

	z-index 			: 20;

}

a.noSupportBanner {
	color 				: white;
	text-decoration 	: none;

	font-family			: 'Keania One', cursive;
	font-size 			: 30;
}

section.main {
	width 				: 980px;
	height 				: auto;

	margin-left 		: auto;
	margin-right 		: auto;
}

section.canvas {
	margin-left 		: auto;
	margin-right 		: auto;

	width 				: 500px;
	height 				: auto;

}

section.canvasMask {
	position 			: absolute;

	left 				: 50%;
	margin-left 		: -250px;


	height 				: 500px;
	width 				: 500px;

	max-height 			: 500px;
	max-width 			: 500px;

	opacity 			: 0.7;

}

section.key {
	float 				: left;

	min-width 			: 166.667px;
	min-height 			: 166.667px;

	cursor 				: pointer;

}

span.key {

	display 			: block;

	min-width 			: 166.667px;

	margin-top 			: 22.335px;

	font-family			: 'Keania One', cursive;

	text-align 			: center;

	font-size 			: 100;

	color 				: white;
}

section.help {
	height 				: auto;
	width 				: 500px;

	margin-top 			: 5px;
	margin-bottom 		: 20px;

	margin-left 		: auto;
	margin-right 		: auto;

	text-align 			: center;

	color 				: gray;

	font-family 		: 'Roboto Condensed', sans-serif;
	font-size 			: 20px;

	visibility 			: hidden;

}