* {
	padding 				: 0px;
	margin 					: 0px;

	font-family: 'Lato', sans-serif;
	color 					: white;
}

body {	
	background-color 		: #F5821D;

}

section.main {
	position 				: static;
}

section.canvasContainer {
	margin-top 	  			: 70px;
	margin-right 		 	: auto;
	margin-left 			: auto;

	border 					: solid;
	border-width 			: 1px;
	border-color 			: white;

	width 					: 1000px;
	height 					: 500px;
}

span.title {
	cursor 					: pointer;

	position 				: absolute;
	width 	 				: 800px;

	color 					: white;


	font-size 				: 150;

	left  					: 50%;
	top 					: 205;

	margin-left 			: -400px;

	text-align 				: center;

	-webkit-user-select 	: none; 
  	-moz-user-select 		: none;     
  	-ms-user-select 		: none;
}

span.quote {
	position 				: absolute;
	margin-top 				: 10px;
	left 					: 50.3%;

	font-size 				: 22;


	width 					: 495px;

	text-align 				: right;

}
